body {
    background-color: #191f36;
}

.services h2 {
    text-align: center;
    color: #fff;
    font-size: 2.6rem;

}

/*back-icon   */
.back-icon a {
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #0ef;
    border-radius: .8rem;
    transition: .5s ease;
    margin: 20px;
}

.back-icon a:hover {
    box-shadow: 0 0 1rem #0ef;
}

.back-icon a i {
    font-size: 2.4rem;
    color: #000;
}

.back-icon {
    text-align: center;
}

.Services-box i {

    font-size: 7rem;
    color: #0ef;
}


.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 30px;
}

.Services-box {
    height: 500px;
    width: 1000px;
    background: #262B40;
    color: #fff;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #191f36;
    transition: .5s ease;
}

.services-container .Services-box:hover {
    border-color: #59B2F4;
    transform: scale(1.02);
}

.Services-box h3 {
    font-size: 2.6rem;
}

.Services-box p {
    font-size: 1rem;
    margin: 1rem 0 1rem;
}

.Services-box h2 {
    margin: 20px;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #59B2F4;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #59B2F4;
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}



.btn:hover {
    box-shadow: none;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
    .experience-details-container {
        display: flex;
        justify-content: center;
        justify-items: center;
        padding: 10px;
        margin: 10px;
    }

    .services-container {
        height: auto;
        width: 90%;
    }

    .Services-box {
        height: auto;
        width: 90%;
        padding-right: 10px;
        margin: 10px;
    }
}


.contact-text {
    text-align: center;
    color: #fff;
    justify-content: center;
}

.home-sci a {
    font-size: 1.6rem;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    margin: 2rem;
}